body {
    font-family: Poppins, Arial, sans-serif;
    background: #0a0d14;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 45px 10px;
    background: linear-gradient(90deg, #5b00d4, #006dff);
    box-shadow: 0px 0px 20px #5900d4;
}

h1 {
    margin: 0;
    font-size: 36px;
    letter-spacing: 1px;
}

.verify-box,
.list-section {
    padding: 30px;
    text-align: center;
}

.verify-box input {
    padding: 12px;
    width: 260px;
    border-radius: 6px;
    border: none;
    margin-right: 10px;
    outline: none;
}

button {
    padding: 12px 22px;
    background: #007cff;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background: #005fcc;
    transform: scale(1.04);
}

.card {
    background: #121826;
    padding: 18px;
    margin: 10px auto;
    width: 90%;
    max-width: 420px;
    border-radius: 12px;
    border: 1px solid #293445;
    transition: .2s;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px #232f41;
}

footer {
    text-align: center;
    padding: 25px;
    background: #0f111a;
    margin-top: 40px;
    border-top: 1px solid #222;
}

footer h3 {
    margin-bottom: 15px;
    font-weight: 500;
}

.social-icons a {
    margin: 0 10px;
    color: #ffffff;
    font-size: 27px;
    transition: 0.2s;
}

.social-icons a:hover {
    color: #008cff;
    transform: scale(1.2);
}

#verifyResult {
    margin-top: 12px;
    font-size: 18px;
  }
