body {
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 40px 10px;
    background: linear-gradient(90deg, #7800ff, #0084ff);
}

h1 {
    margin: 0;
    font-size: 35px;
}

.list-section {
    padding: 20px;
    text-align: center;
}

#certList {
    margin-top: 20px;
}

.card {
    background: #1b1b1b;
    padding: 15px;
    margin: 10px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    border: 1px solid #444;
}

button {
    padding: 10px 18px;
    background: #0084ff;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #006ad1;
}

.verify-box {
    padding: 25px;
    text-align: center;
}

.verify-box input {
    padding: 10px;
    width: 260px;
    border-radius: 6px;
    border: none;
    margin-right: 10px;
}

#verifyResult {
    margin-top: 15px;
    font-size: 18px;
}
